node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Config (contains sensitive job IDs etc)
.config.yml

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
